body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

nav {
    background: #020617;
    padding: 15px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 100px 20px;
}

.btn {
    background: #ec4899;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}

.content {
    padding: 50px;
    max-width: 800px;
    margin: auto;
}

footer {
    background: #020617;
    padding: 20px;
    margin-top: 50px;
}
